<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Slooier_voorraad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Slooier_voorraad.Properties.Settings>
      <setting name="WindowState" serializeAs="String">
        <value>maximized</value>
      </setting>
      <setting name="BackGroundColor" serializeAs="String">
        <value>Gainsboro</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>postgres</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>Slooier_VoorraadSysteem</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>2761</value>
      </setting>
      <setting name="PX" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="PY" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MinimumSizeX" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="MinimumSizeY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="InitialDir" serializeAs="String">
        <value>C:\\</value>
      </setting>
    </Slooier_voorraad.Properties.Settings>
  </userSettings>
</configuration>